/* Exemplo de estilo para o infobox do Cover Designer */
.archive__tax-cloud {
    display: none !important;
}
.wp-block-quote {
    padding-left: 1rem;
    margin-bottom: 2.5rem;
    clear: none;
}
.cover-designer-infobox-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.cover-designer-profile-box {
    float: right;
    width: 270px;
    background: var(--bg-400);
    border: 0.5px dashed var(--bg-300);
    border-radius: 4px;
    padding: 0.75rem;
    margin-right: clamp(0.5rem, 50%, 1rem);
    flex: 0 0 clamp(100px, 25%, 155px);
    box-sizing: border-box;
    height: fit-content;
}
.designer-box-item {
    padding: 0.5rem 0;
    border-top: 1px solid var(--bg-300);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.designer-box-item:first-of-type {
    border-top: none;
    padding-top: 0;
}
.cover-designer-content {
    flex: 1 1 auto;
    min-width: 0;
}
@media (max-width: 400px) {
    .cover-designer-profile-box {
        flex: 0 0 clamp(160px, 25%, 220px);
    }
}
.cover-designer-works-title h2 {
    font-size: 1.5em;
    margin-top: 1.5rem;
    color: var(--inline-link-color);
}
.designer-socials {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    gap: 0.9rem;
}
.designer-socials li a {
    font-size: 1.2em;
    color: var(--inline-link-color);
    text-decoration: none;
}
